.winner {
    background-color: #076904;
    padding: 10px 20px;
    color: white;
    display: block;
    justify-content: space-between;
    align-items: center;
}

.error {
    background-color: #b2041c;
    padding: 10px 20px;
    color: white;
    display: block;
    justify-content: space-between;
    align-items: center;
}